<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
 
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap/css/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      {% include '../partials/header.njk' %}
      

      <main role="main" class="inner cover {% if templateClass %} '{{ templateClass }}'{% endif %}">
        <h2>Welcome to Me!... Whoever I be?</h2>

       {{ content | safe }}
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      {% include '../partials/footer.njk' %}
    </div>


    <!-- Current page: {{ page.url | url }} -->
    <script src="{{ '/css/bootstrap/js/bootstrap.min.js' | url }}"></script>
    <script>
      //===== close navbar-collapse when a  clicked
      let navbarToggler = document.querySelector(".navbar-toggler");
      var navbarCollapse = document.querySelector(".collapse");
      document.querySelectorAll(".page-scroll").forEach(e =>
          e.addEventListener("click", () => {
              navbarToggler.classList.remove("active");
              navbarCollapse.classList.remove('show')
          })
      );
      navbarToggler.addEventListener('click', function () {
          navbarToggler.classList.toggle("active");
          navbarCollapse.classList.toggle("show");
      })
    </script>
  </body>
</html>
